/* Basic styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

h1, h2 {
    color: #e0e0e0;
}

/* Header styles */
header {
    background-color: #1f1f1f;
    color: #4CAF50;
    text-align: center;
    padding: 1em 0;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* About Me section */
#about {
    background-color: #333;
    padding: 1em;
    margin-bottom: 2em;
}

.about-me {
    display: block;
    margin-top: 0.5em;
}

/* Education section */
.education {
    margin-bottom: 2em;
}

.education .light {
    margin-left: 20px;
    color: #aaa;
}

/* Section styles */
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

p {
    margin: 0.5em 0;
}

/* Social media icon styles */
#linkedin img, #twitter img {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    vertical-align: middle; /* Aligns the icon with the middle of the text */
}

/* Footer styles */
footer {
    background-color: #1f1f1f;
    color: #4CAF50;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}